page-home {

}


.block-display button{
  margin-bottom:20%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  text-align:center;
  width:67%;
}

.center-bottom button{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.header ion-title{
  text-align:center;
}
