page-setup-trip {

}



.field {
	float: left;
	width: 80%;
}

.help {
	float: left;
}

.coupling {
	clear: left;
}

.time {
	float: left;
	display: block;
}

.bottom-buttons button{
	margin-bottom:0%;
	display:block;
}

#buttons {

}
